table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
td{
    text-align: center;
}